table {
    width: 500px;
    border: 1px solid white;
}

th:first-child {
    width: 10%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

th:last-child {
    border-bottom: 1px solid white;
}

.information-cell {
    text-align: center;
}
