body {
    background-color: #2b2b2b;
    font-family: sans-serif;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-wrapper {
    margin-bottom: 25px;
}
